* {
    box-sizing: border-box;
    font-family: monospace;
    font-size: 1rem;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

#app {
  width: 800px;
  max-width: 90vw;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgb(250, 240, 240);
}

h1:first-child, p:first-child {
    margin-top: 0;
}

a, a:visited, h1, h2, h3, h4 {
    color: rgb(130, 30, 80);
}

h1, h2, h3 {
    margin-bottom: 5px;
}

h1, h1 * {
    font-size: 2rem;
}

h2, h2 * {
    font-size: 1.3rem;
}

h3, h3 * {
    font-size: 1.1rem;
}
